.forbidden__forbidden-content {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.forbidden-content__stack {
	max-width: 500px;
	justify-content: center;
	align-items: center;
}
